.app-box{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px
}
.toolbar{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: hidden;
    border-radius: 5px 5px  0  0;
    background: #00c374;
    color: #fff;
}
.todo-box{
    -webkit-box-shadow: 2px 3px 3px 4px rgba(0, 195, 116, 0.09);
    -moz-box-shadow: 2px 3px 3px 4px rgba(0, 195, 116, 0.09);
    box-shadow: 2px 3px 3px 4px rgba(0, 195, 116, 0.11);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.btn-fab{
    margin: 10px;
    background: #00c374;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
}


